body {
  margin: 0;
  text-align: center;
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'The Nautigal', cursive;
  font-size: 5.625rem;
  color: #445F4F;
}

h2 {
  font-size: 2.0rem;
  font-family: 'Playfair Display', serif;
  color: #557763;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #759582;
}

hr {
  border: dotted grey 5px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

p {
  line-height: 2;
}

a {
  color: #445F4F;
  font-family: 'Playfair Display', serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.top-container {
  background-color: #B5CBBE;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #B5CBBE;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.w {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-me {
  width: 30%;
  margin: 40px auto 60px;
}

.c {
  padding: 20px 0;
  color: white;
  font-size: 0.75rem;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.hair-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.photography-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.mail {
  background: #88AA96;
  background-image: -webkit-linear-gradient(top, #88AA96, #668F77);
  background-image: -moz-linear-gradient(top, #88AA96, #668F77);
  background-image: -ms-linear-gradient(top, #88AA96, #668F77);
  background-image: -o-linear-gradient(top, #88AA96, #668F77);
  background-image: linear-gradient(to bottom, #88AA96, #668F77);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.mail:hover {
  background: #88AA96;
  background-image: -webkit-linear-gradient(top, #88AA96, #095c35);
  background-image: -moz-linear-gradient(top, #88AA96, #095c35);
  background-image: -ms-linear-gradient(top, #88AA96, #095c35);
  background-image: -o-linear-gradient(top, #88AA96, #095c35);
  background-image: linear-gradient(bottom, #88AA96, #095c35);
  text-decoration: none;
}
